name: TrixieOS Openbox (No Buildroot, No Debian)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Install build dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          build-essential wget git \
          bison flex gawk \
          libssl-dev libelf-dev \
          libxml2-dev libx11-dev libxext-dev libxrender-dev \
          libxcb1-dev libxrandr-dev libxinerama-dev libxcursor-dev \
          xutils-dev \
          xorriso grub-pc-bin grub-common mtools \
          cpio pkg-config python3

    # ---------------- KERNEL ----------------
    - name: Build Linux kernel
      run: |
        wget https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.8.tar.xz
        tar xf linux-6.6.8.tar.xz
        cd linux-6.6.8
        make defconfig
        make -j$(nproc)
        cp arch/x86/boot/bzImage ../vmlinuz

    # ---------------- GLIBC ----------------
    - name: Build glibc
      run: |
        wget https://ftp.gnu.org/gnu/libc/glibc-2.39.tar.xz
        tar xf glibc-2.39.tar.xz
        mkdir glibc-build
        cd glibc-build
        ../glibc-2.39/configure --prefix=/usr
        make -j$(nproc)
        make DESTDIR=$PWD/root install

    # ---------------- BUSYBOX ----------------
    - name: Build BusyBox (glibc)
      run: |
        wget https://busybox.net/downloads/busybox-1.36.1.tar.bz2
        tar xf busybox-1.36.1.tar.bz2
        cd busybox-1.36.1
        make defconfig
        sed -i 's/# CONFIG_STATIC is not set/CONFIG_STATIC=n/' .config
        make -j$(nproc)
        make CONFIG_PREFIX=$PWD/_install install

    # ---------------- XORG ----------------
    - name: Build Xorg server
      run: |
        wget https://www.x.org/releases/individual/xserver/xorg-server-21.1.9.tar.xz
        tar xf xorg-server-21.1.9.tar.xz
        cd xorg-server-21.1.9
        ./configure --prefix=/usr
        make -j$(nproc)
        make DESTDIR=$PWD/root install

    # ---------------- OPENBOX ----------------
    - name: Build Openbox
      run: |
        wget http://openbox.org/dist/openbox/openbox-3.6.1.tar.gz
        tar xf openbox-3.6.1.tar.gz
        cd openbox-3.6.1
        ./configure --prefix=/usr
        make -j$(nproc)
        make DESTDIR=$PWD/root install

    # ---------------- ROOTFS ----------------
    - name: Create root filesystem
      run: |
        mkdir -p rootfs/{bin,sbin,etc,proc,sys,dev,usr/lib,root}
        cp busybox-1.36.1/_install/bin/busybox rootfs/bin/
        ln -s busybox rootfs/bin/sh

        cp -r glibc-build/root/usr/lib/* rootfs/usr/lib/
        cp -r xorg-server-21.1.9/root/usr/* rootfs/usr/
        cp -r openbox-3.6.1/root/usr/* rootfs/usr/

        echo "TrixieOS" > rootfs/etc/hostname

        cat > rootfs/etc/os-release << EOF
        NAME="TrixieOS"
        ID=trixieos
        VERSION="0.1"
        PRETTY_NAME="TrixieOS - ProjectA tarafından yapıldı"
        EOF

        cat > rootfs/root/.xinitrc << EOF
        exec openbox-session
        EOF

    # ---------------- INIT ----------------
    - name: Create initramfs
      run: |
        cat > rootfs/init << 'EOF'
        #!/bin/sh
        mount -t proc proc /proc
        mount -t sysfs sys /sys
        echo "TrixieOS - ProjectA tarafından yapıldı"
        exec /bin/sh
        EOF
        chmod +x rootfs/init

        cd rootfs
        find . | cpio -o -H newc | gzip > ../initramfs.img

    # ---------------- ISO ----------------
    - name: Create ISO with GRUB
      run: |
        mkdir -p iso/boot/grub
        cp vmlinuz iso/boot/vmlinuz
        cp initramfs.img iso/boot/initramfs.img

        cat > iso/boot/grub/grub.cfg << EOF
        set timeout=3
        set default=0

        menuentry "TrixieOS Openbox" {
          linux /boot/vmlinuz quiet
          initrd /boot/initramfs.img
        }
        EOF

        grub-mkrescue -o TrixieOS-Openbox.iso iso

    - name: Upload ISO
      uses: actions/upload-artifact@v4
      with:
        name: TrixieOS-Openbox
        path: TrixieOS-Openbox.iso
